
<div>
    <pre style="background:orange;color:white;font-size:1.4em;padding: 5%"> URL : {{ datasRoute.url }}</pre>
  </div>
<div>
  <pre style="background:green;color:white;font-size:1.4em;padding: 5%">
    METHOD : {{ datasRoute.method }}
  </pre>
</div>
<div>
  <pre style="background:#FF9966;color:white;font-size:1.4em;padding: 5%">
    DESCRIPTION : {{ datasRoute.description }}
  </pre>
</div>
<div>
  <pre style="background:pink;color:white;font-size:1.4em;padding: 5%">
    QUERYSTRING : {{ datasRoute.queryString | json }}
  </pre>
</div>
<div>
  <pre style="background:blue;color:white;font-size:1.4em;padding: 5%">
      RESPONSE : {{ datasRoute.response | json }}
  </pre>
</div>

<div>
  <pre style="background:purple;color:white;font-size:1.4em;padding: 5%"> BODY : {{ datasRoute.body | json }}</pre>
</div>

<div style="text-align: center" class="button-back-comment">
  <button class="btn-back" (click)="goBack()">Back to list</button>
  <!-- TODO add comment with a put method -->
  <!-- <button class="btn-comment" (click)="addComment()">Ajout commentaire</button> -->
</div>
