.content {
position: relative;
z-index: 1;
height: 100%;
}
.table-info {
    width: 100%;
    position: relative;
}
.name-api {
	background: white;
  grid-column: 1;
  width:100%;
}

.method-api {
	grid-column: 2;
    background: white;
    width:100%;
}
.parameter-api {
	background: white;
    grid-column: 3;
    width:100%;
}
.url-api {
	background: white;
    grid-column: 4;
    width:100%;
}
.description-api {
	background: white;
    grid-column: 5;
    width:100%;
}
div.table-info {
    display: grid;
    grid-template-columns: repeat(5,20%);
    justify-items: center;
    align-items: center;
}

h3.title {
	text-align: center;
}
p.description {
	text-align: center;
	font-weight: bold;
}
.post {
    background: #33FF7D;
    width: 100%;
}
.put {
    background: #FFBB33;
    width: 100%;
}
.get {
    background: #33C1FF;
    width: 100%;
}
.delete {
    background: #FF5833;
    width: 100%;
}
.name-api-value {
	grid-column: 1;
}
.method-api-value {
	grid-column: 2;
}
.parameter-api-value {
	grid-column: 3;
}
.url-api-value {
	grid-column: 4;
}
.description-api-value {
	grid-column: 5;
}
.description-api-value {
    height: 100%;
    align-items: center;
}
.description-api-value div.btn {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
button.btn-see-details {
  width: 120px;
  height: 40px;
  color: #aaa;
  opacity: 1;
  font-weight: bold;
  font-size: 1.2em;
  background: white;
  border: 1px solid white;
  border-radius: 5px;
}
.infos-routes {
  position: absolute;
  padding: 4%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #eee;
}
.first-color {
  background: #ccc;
  width: 100%;
}
.second-color {
  background: #eee;
  width:100%;
}

